@import '~node_modules/modern-normalize/modern-normalize.css';
@import "simplelightbox/dist/simple-lightbox.min.css";

.search-form{
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-form{
    border-radius: 5px;
}

.btn-search{
    border-radius: 5px;
    margin-left: 10px;
}


